html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1.125rem;
  height: 100vh;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

ul {
  margin-top: 0;
  padding-left: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --header-height: 4rem;
  --footer-height: 8rem;
  --body-height: calc(100vh - var(--header-height));
  --base-unit: 1rem;

  --spacing-xs: calc(var(--base-unit) - .75rem);
  --spacing-sm: calc(var(--base-unit) - .5rem);
  --spacing-md: calc(var(--base-unit) + 0rem);
  --spacing-lg: calc(var(--base-unit) + .5rem);
  --spacing-xl: calc(var(--base-unit) + 1rem);

  --layout-xs: calc(var(--base-unit) * .25);
  --layout-sm: calc(var(--base-unit) * .5);
  --layout-md: calc(var(--base-unit) * 1);
  --layout-lg: calc(var(--base-unit) * 2);
  --layout-xl: calc(var(--base-unit) * 4);
}
