.headerLinkList {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.headerLinkList > * {
  margin-left: var(--spacing-sm);
}

@media screen and (min-width: 600px) {
  .headerLinkList > * {
    margin-left: var(--spacing-md);
  }
}
