.iconHeading {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text:not(:first-child) {
  margin-left: var(--spacing-sm);
}

.text strong {
  display: block;
}

.text em {
  display: block;
  font-size: .825rem;
}