.verticalListLayout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--spacing-md);
}

.verticalListLayout > * {
  margin: 0 var(--spacing-md) var(--spacing-lg);
}
